/* header section in index/input screen */

header {
    display: grid;
    max-height: 50px;  
}


/* lightmodes themes */



.light {
    /* background-color: rgb(163, 205, 208); */
    background: linear-gradient(to bottom, rgb(114, 152, 209) 0% 9%, rgb(224, 236, 236) 14% 100%);
    color: black;
}

.dark {
    /* background-color: rgb(24, 55, 55); */
    background: linear-gradient(to bottom, rgb(91, 79, 163) 0% 9%, rgb(36, 47, 92) 14% 100%);

    color: rgb(182, 198, 176);
}

head {
    font-family:Arial, Helvetica, sans-serif;
}

/* body section */
body {
    font-family:Arial, Helvetica, sans-serif;
}

body .topSec {
    display: flex;
    display: grid;
    grid-template-columns: 16fr 1fr;
}

/* commented outt his section,as it was caused header title to not change with the lightmode/darkmode */
/* .topSec h1 {
    color: black;
    grid-column: 1;
    backgr
} */


.savedBlogs {
    grid-gap: 10px;
    padding-top: 10px;
    height: 500px;
    width: 98%;
    border-style: double;
}


.savedBlogs h1 {
    text-align: center;
    
}